
.grid {
    display: grid;
    grid-template-columns: 150px auto 150px;
    grid-gap: 1em;
  }
  
  header, footer {
    grid-column: 1 / 4;
    font-family: "Times New Roman";
  }
  
  @media all and (max-width: 700px) {
    aside,
    article {
      grid-column: 1 / 4;
      font-family: "Times New Roman";
    }
  }
  
  /* Demo Specific Styles */
  body {
    margin: 0 auto;
    max-width: 56em;
    padding: 1em 0;
  }
  
  header,
  aside,
  article,
  footer {
    background: #eaeaea2a;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vh;
    font-family: "Times New Roman";
  }
  body {
    /* Location of the image */
    background-image: url(images/pexels-kasuma-1785493.jpg);
    
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;
    
    /* Background image doesn’t tile */
    background-repeat: no-repeat;
    
    /* Background image is fixed in the viewport so that it doesn’t move when
    the content’s height is greater than the image’s height */
    background-attachment: fixed;
    
    /* This is what makes the background image rescale based
    on the container’s size */
    background-size: cover;
    
    /* Set a background color that will be displayed
    while the background image is loading */
    background-color: #464646;
    }